html, body
{
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  background-color: #CCCCFF;
}

#main_grid
{
  display: flex;
  flex-flow: row wrap;
  height: 80%;
  justify-content: center;
}

.box
{
  width: 45%;
  height: 50%;
  margin: 5px;
  border: solid 1px black;
  font-size: 150%;
  padding: 5px;
  background-color: #CCCCFF;
}

.boxCore
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.boxP
{
  flex: 1 0 40%;
  margin: 5px;
}

#header
{
  padding-left: 2em;
  padding-right: 2em;

  text-align: left;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
}
@keyframes hoverOrange
{
  0%
  {
    border: solid 1px black;
    background-color: #CCCCFF;
  }

  50%
  {
    border: solid 1px blue;
    background-color: #9999FF;
  }

  100%
  {
    border: solid 1px orange;
    background-color: #FFBB99;
  }
}

.box:hover
{
  animation-name: hoverOrange;
  animation: hoverOrange 0.4s;
  animation-fill-mode: both;
}
.box_header
{
  text-align: center;
  font-weight: bold;
}
